streamlit>=1.32.0
streamlit-authenticator>=0.3.2
google-api-python-client>=2.120.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
gspread>=6.0.0
pandas>=2.2.0
bcrypt>=4.1.0
pyyaml>=6.0.1
Pillow>=10.2.0